body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }
}

.content {
    background-image: url(./assets/grassbkgd.png);
    background-size: cover;
    width: 63.75rem;
    height: 35.625rem;
    resize: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
}

.top-row {
    display: flex;
    align-self: flex-start;
    gap: 16rem;
}

.score {
    display: flex;
    align-items: center;
    margin-top: -6rem;
}

.pokemon-img {
    display: flex;
    align-self: flex-end;
    padding-right: 4rem;
}

#img {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
}

.choices {
    background-color: lightgreen;
    width: 40%;
    margin-top: -18rem;
    border-radius: 1rem;
    padding: 1rem;

    &__list {
        font-size: 1.5625rem;
        list-style: none;
    }

    &__item {
        background-color: green;
        border-radius: 1rem;
        padding: 0.5rem;
        margin: 1rem;
        display: flex;
        justify-content: center;

        &:hover {
            opacity: 50%;
        }
    }
}